* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Common Style Area */

.btn-primary {
    padding: 12px 24px;
    font-weight: bold;
    font-size: 16px;
}

.title {
    font-weight: bold;
    margin-bottom: 15px;
}

.paragraph {
    font-size: 14px;
    line-height: 1.2rem;
    margin-bottom: 15px;
}

/* Header Area */

header {
    width: 100%;
    height: 100vh;
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.single-flex {
    margin-top: 180px;
}

.header-heading {
    font-size: 3rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
}

.header-paragraph {
    text-align: right;
}

.header-btn {
    margin-left: 251px;
}

/* Main Area */

main {
    width: 80%;
    height: 70vh;
    margin: auto;
    padding: 120px 0;
}

.main-container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-img {
    width: 450px;
}

.main-paragraph {
    padding-top: 120px;
}

/* My Plan Area */

.my-plan {
    width: 100%;
    margin: 80px auto;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.plan-list {
    display: flex;
    gap: 60px;
}

.my-plan-title {
    text-align: center;
    margin-bottom: 50px;
}

.plans {
    text-align: center;
}

.plans img, h2, p {
    margin-bottom: 15px;
}